# Ignore contents of specific folders in ifcpipeline, but keep the folders
ifcpipeline/models/*
ifcpipeline/ids/*
ifcpipeline/output/*

# But don't ignore .gitkeep files to keep empty folders
!ifcpipeline/models/.gitkeep
!ifcpipeline/ids/.gitkeep
!ifcpipeline/output/.gitkeep
!ifcpipeline/output/clash/.gitkeep
!ifcpipeline/output/csv/.gitkeep
!ifcpipeline/output/ids/.gitkeep

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore n8n data folders
/n8n-data/*
!n8n-data/.gitkeep
